.card-image {
  float: left;
  margin-top: 20px;
  align-items: center;
}
.card-right {
  float: left;
  margin-top: 10px;
}

button::-moz-focus-inner {
  border: 50;
}
.btn-size::-moz-focus-inner {
  border: 0;
}
.item-size-text {
  color: #000000;
  font-size: smaller;
  text-align: right;
}

.item-size-star {
  color: #c90000;
  margin-right: 5px;
}

.item-size-selected,
.item-size-text,
.item-size-star {
  display: inline;
}

.btn-size {
  background: white;
  border: 2px solid #0d0101;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: smaller;
  color: #000000;
}

.btn-middle {
  margin-left: 10px;
  margin-right: 10px;
}

.btn-size:focus {
  background: rgb(255, 255, 255);
  border: 4px solid #5101e6;
  outline: 0;
}


